@import "tailwindcss";
@layer components {

  .tabs-wrapper {
    @apply flex border-b border-gray-300;
  }

  /* Class utama*/
  .tab-item {
    @apply px-4 py-2 text-sm font-medium
           border-b-2
           transition duration-200;
  }

  /* Inactive state (custom color) */
  .tab-inactive {
    @apply border-transparent
           text-gray-500
           hover:text-purple-600
           hover:border-purple-300;
  }

  /* Active state (custom color) */
  .tab-active {
    @apply border-purple-500
           text-purple-600;
  }
}